.App {
  text-align: center;
  font-family: "PressStart2P", sans-serif;
}

.App-link {
  color: #61dafb;
}
@font-face {
  font-family: 'PressStart2P';
  src: url('./Fonts/PressStart2P-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.container-1{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}